body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.container {
  width: 320px;
  margin: 0 auto;
  padding: 0 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.header__logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  color: #2196f3;
  margin-right: 93px;
}

.header__black {
  color: #000000;
}

.header__navigation {
  font-size: 14px;
  font-weight: 500;
}

.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__site-nav {
  width: 281px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__site-nav-link {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  position: relative;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header__site-nav-link:hover {
  color: #2196f3;
  -webkit-animation-name: nav-link;
          animation-name: nav-link;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@-webkit-keyframes nav-link {
  0% {
    color: #212121;
  }
  100% {
    color: #2196f3;
  }
}
@keyframes nav-link {
  0% {
    color: #212121;
  }
  100% {
    color: #2196f3;
  }
}

.header__site-nav-link.current::after {
  content: "";
  display: block;
  background-color: #2196f3;
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  bottom: -33px;
}

.header__site-nav-item {
  font-weight: 500;
}

.header__contact-link {
  color: #757575;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header__contact-link:hover {
  color: #2196f3;
}

.header__contacts {
  font-size: 14px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__contacts .header__contact-link:hover {
  color: #2196f3;
}

.header__contact-link:hover .header__contact-icon {
  fill: #2196f3;
}

.header__gmail {
  margin-right: 50px;
  color: #757575;
}

.header__contact-icon {
  fill: #757575;
  margin-right: 10px;
}

.post {
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: #2f303a;
  background-image: url(./../../img/bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.post__title {
  font-family: "Roboto", sans-serif;
  font-weight: 900px;
  font-size: 26px;
  text-align: center;
  line-height: 136%;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
}

.post__btn {
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  background-color: #2196f3;
  font-family: "Roboto", sans-serif;
  border-radius: 4px;
  border: none;
  padding: 10px 24px;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .post {
    padding-top: 200px;
    padding-bottom: 200px;
  }
  .post__title {
    font-size: 44px;
  }
  .post__btn {
    padding: 10px 32px;
  }
}
.modal__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 450px;
  height: 609px;
  border-radius: 4px;
  background: #FFF;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.modal__btn-close {
  margin-left: 418px;
  margin-right: 14px;
  margin-top: 14px;
  width: 30px;
  height: 30px;
  background-color: #FFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  background-image: url(./../../img/symbol-defs.svg#icon-close);
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__icon {
  fill: #000000;
  width: 18px;
}

.modal__btn-close .modal__icon:hover {
  fill: #2196F3;
}

.modal__form-title {
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.6px;
  margin-bottom: 30px;
}

.modal__form-icon {
  fill: #000000;
  width: 18px;
  height: 18px;
  position: absolute;
  left: 52px;
  top: 12px;
  z-index: 1;
}

.modal__form-input {
  width: 370px;
  height: 40px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 28px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.modal__form-field {
  position: relative;
}

.modal__form-field .modal__form-input:hover {
  border: 1px solid #2196f3;
}

.modal__form-input:hover .modal__form-icon {
  fill: #2196f3;
}

.modal__form-textarea {
  width: 370px;
  height: 138px;
  margin-left: 40px;
  margin-right: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.modal__form-textarea::-webkit-input-placeholder {
  padding-top: 12px;
  padding-left: 16px;
  color: rgba(117, 117, 117, 0.5);
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.12px;
}

.modal__form-textarea::-moz-placeholder {
  padding-top: 12px;
  padding-left: 16px;
  color: rgba(117, 117, 117, 0.5);
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.12px;
}

.modal__form-textarea:-ms-input-placeholder {
  padding-top: 12px;
  padding-left: 16px;
  color: rgba(117, 117, 117, 0.5);
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.12px;
}

.modal__form-textarea::-ms-input-placeholder {
  padding-top: 12px;
  padding-left: 16px;
  color: rgba(117, 117, 117, 0.5);
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.12px;
}

.modal__form-textarea::placeholder {
  padding-top: 12px;
  padding-left: 16px;
  color: rgba(117, 117, 117, 0.5);
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.12px;
}

.modal__form-textarea:hover {
  border: 1px solid #2196f3;
}

.modal__form-checkbox {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 20px;
}

.modal__form-checkbox input {
  margin-right: 8px;
  color: #757575;
  font-family: Roboto;
  font-size: 14px;
  letter-spacing: 0.42px;
}

.modal__form-checkbox a {
  color: #2196F3;
  font-family: Roboto;
  font-size: 14px;
  letter-spacing: 0.42px;
  text-decoration: underline;
}

.modal__btn-send {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border-color: #2196F3;
  background-color: #2196F3;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  margin: 30px 125px 40px;
}

.post-button-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
  .modal__btn-close {
    margin-left: 490px;
    margin-right: 8px;
    margin-top: 8px;
  }
  .modal__form-input {
    width: 448px;
  }
  .modal__form-textarea {
    width: 448px;
    height: 120px;
  }
  .modal__form-checkbox {
    margin-top: 20px;
    margin-left: 52px;
    margin-right: 51px;
  }
  .modal__btn-send {
    margin: 30px 164px 40px;
  }
}
.benefits {
  padding-top: 60px;
  padding-bottom: 60px;
}

.benefits__item {
  width: 290px;
}

.benefits__item::before {
  content: "";
  display: block;
  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  background-image: url(./../../img/antenna.webp);
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
}

.benefits__item:nth-child(2)::before {
  background-image: url(./../../img/clock.webp);
}

.benefits__item:nth-child(3)::before {
  background-image: url(./../../img/diagrama.webp);
}

.benefits__item:nth-child(4)::before {
  background-image: url(./../../img/astronaut.webp);
}

.benefits__title {
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 30px;
}

.benefits__text {
  font-weight: 400;
  font-size: 14px;
  color: #757575;
  font-family: "Roboto", sans-serif;
  line-height: 24px;
  letter-spacing: 0.42px;
}

@media screen and (min-width: 480px) {
  .benefits__item {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .benefits__item {
    width: 354px;
  }
  .benefits__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .benefits {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .benefits__item {
    width: 354px;
  }
  .benefits__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
.work {
  padding-bottom: 30px;
  display: none;
}

.work__title {
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 50px;
  text-align: center;
}

.work__item {
  width: 450px;
  height: 460px;
  position: relative;
  margin-bottom: 30px;
}

.work__img {
  width: 450px;
  height: 460px;
}

.work__text {
  position: absolute;
  color: #FFF;
  background-color: rgba(47, 48, 58, 0.8);
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  bottom: 3px;
}

@media screen and (min-width: 768px) {
  .work__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .work__item {
    width: 354px;
    height: 374px;
  }
  .work__img {
    width: 354px;
    height: 374px;
  }
}
@media screen and (min-width: 1200px) {
  .work {
    padding-bottom: 94px;
    display: block;
  }
  .work__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
.team {
  padding-bottom: 60px;
  padding-top: 60px;
  background-color: #f5f4fa;
}

.team__title {
  color: #212121;
  font-weight: 700;
  font-size: 28px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 30px;
  text-align: center;
}

.team__img {
  width: 450px;
  margin-bottom: 30px;
}

.team__list {
  width: 450px;
}

.team__item {
  background-color: #ffffff;
  width: 450px;
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.team__name {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #212121;
  margin-bottom: 10px;
}

.team__text {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #757575;
}

.team__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 16px;
  gap: 10px;
}

.team__icon {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
}

.team__link:hover .main__team-icon {
  fill: #FFFFFF;
}

.team__link:hover {
  background-color: #2196f3;
}

@media screen and (min-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .team__img {
    width: 354px;
    height: 374px;
  }
  .team__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team {
    padding-bottom: 94px;
    padding-top: 94px;
  }
  .team__title {
    font-size: 36px;
  }
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .team__img {
    width: 270px;
    height: 260px;
  }
  .team__item {
    width: 270px;
    margin: 15px;
  }
}
.clients__title {
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 1.08px;
  margin-top: 60px;
  margin-bottom: 30px;
}

.clients__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.clients__item {
  width: 106px;
  height: 60px;
  fill: #AFB1B8;
  border-radius: 4px;
  border: 1px solid #AFB1B8;
  margin-bottom: 30px;
  padding: 16px 52px;
}

.clients__item:hover {
  fill: #2196f3;
  border: 1px solid #2196f3;
}

@media screen and (min-width: 768px) {
  .clients__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .clients__item {
    padding: 16px 60px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__items {
    margin-top: 94px;
    margin-bottom: 50px;
  }
  .clients__item {
    padding: 16px 32px;
    margin-bottom: 94px;
  }
}
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__div-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.footer__a-link {
  color: #2196f3;
  font-size: 24px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  margin-bottom: 20px;
}

.white {
  color: #ffffff;
}

.footer__p-address {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
  margin-bottom: 8px;
}

.footer__a-mail {
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
}

.footer__a-number {
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 8px;
  margin-bottom: 8px;
}

.footer__p-text {
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-top: 60px;
  margin-bottom: 20px;
}

.footer__svg-icon {
  fill: #FFFFFF;
  height: 20px;
  width: 20px;
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 50px;
}

.footer__svg-icon:hover {
  background-color: rgb(33, 150, 243);
}

.footer__input {
  min-width: 290px;
  max-width: 450px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: #2F303A;
}

.footer__button {
  width: 200px;
  height: 50px;
  border: 1px solid #2196f3;
  border-radius: 4px;
  background: #2196f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  margin-top: 20px;
}

.footer__button-text {
  color: #FFF;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  padding-left: 20px;
}

.footer__button-icon {
  fill: #FFFFFF;
  width: 24px;
  height: 24px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 10px;
}

@media screen and (min-width: 768) {
  .footer__p-text {
    margin-top: 65px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .footer__a-link {
    font-size: 26px;
  }
  .footer__p-text {
    margin-top: 72px;
  }
  .footer__input-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .footer__input {
    width: 358px;
    padding-left: 16px;
  }
  .footer__button {
    margin-left: 12px;
  }
}
.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio__filter-item {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1px;
  margin-right: 8px;
}

.portfolio__filter-list {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.portfolio__filter-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  border: none;
  border-radius: 4px;
  color: var(--nav);
  padding: 6px 22px;
  font-size: 16px;
  line-height: 162.5%;
  letter-spacing: 0.48px;
  cursor: pointer;
}

.portfolio__filter-button:hover,
.portfolio__filter-button:focus {
  background-color: var(--header-web);
  color: var(--main-title);
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.portfolio__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}

.portfolio-box {
  padding: 20px 24px;
}

.portfolio__item {
  border: 1px solid var(--border-color);
  width: 370px;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__item:hover,
.portfolio__item:focus {
  -webkit-box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.portfolio__title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: var(--li-h2);
  margin-bottom: 4px;
}

.portfolio__text {
  font-family: "Roboto", sans-serif;
  color: var(--li-p);
  font-size: 16px;
  font-weight: 400;
}

.product__trumb {
  position: relative;
  overflow: hidden;
}

.product__action {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--main-title);
  width: 100%;
  padding: 63px 24px;
  opacity: 0;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.portfolio__link:hover .product-action {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.section-main {
  padding-top: 94px;
  padding-bottom: 94px;
}/*# sourceMappingURL=main.css.map */