.clients__title {
    color: #212121;
    text-align: center;
    font-family: Roboto;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 1.08px;
    margin-top: 60px;
    margin-bottom: 30px;
}

.clients__items {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.clients__item {
    width: 106px;
    height: 60px;
    fill: #AFB1B8;
    border-radius: 4px;
    border: 1px solid #AFB1B8;
    margin-bottom: 30px;
    padding: 16px 52px;
}

.clients__item:hover {
    fill: $header-web;
    border: 1px solid $header-web;
}

@media screen and (min-width:768px) {
    .clients__items {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .clients__item {
        padding: 16px 60px;
    }
}

@media screen and (min-width: 1200px) {
    .clients__items {
        margin-top: 94px;
        margin-bottom: 50px;
    }

    .clients__item {
        padding: 16px 32px;
        margin-bottom: 94px;
    }
}




// .main__clients-title {
//     color: #212121;
//     text-align: center;
//     font-family: Roboto;
//     font-size: 36px;
//     font-weight: 700;
//     letter-spacing: 1.08px;
//     margin-top: 94px;
//     margin-bottom: 50px;
// }

// .main__clients-items {
//     display: flex;
//     flex-direction: row;
//     justify-content: space-evenly;
// }

// .clients__item {
//     width: 106px;
//     height: 60px;
//     fill: #AFB1B8;
//     border-radius: 4px;
//     border: 1px solid #AFB1B8;
//     margin-bottom: 94px;
//     padding: 16px 32px 16px 32px;
// }

// .clients__item:hover {
//     fill: var(--header-web);
//     border: 1px solid var(--header-web);
// }