
.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.header__logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  color: $header-web;
  margin-right: 93px;
}

.header__black {
  color: $nav-studio;
}

.header__navigation {
  font-size: 14px;
  font-weight: 500;
  display: none;
}

.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav-wrap {
  display: flex;
  align-items: center;
}

.header__site-nav {
  width: 281px;
  display: flex;
  justify-content: space-between;
}

.header__site-nav-link {
  color: $nav;
  font-weight: 500;
  font-size: 14px;
  position: relative;
  transition-property: color, background-color;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header__site-nav-link:hover {
  color: $header-web;
  animation-name: nav-link;
  animation-duration: 500ms;
  animation-timing-function: $transition-timing-function;
    @keyframes nav-link {
      0% {
        color: $nav;
      }

      100% {
        color: $header-web;
      }
    }
}

.header__site-nav-link.current::after {
  content: '';
  display: block;
  background-color: $header-web;
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  bottom: -33px;
}


.header__site-nav-item {
  font-weight: 500;
}

.header__contact-link {
  color: $nav-number;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header__contact-link:hover {
  color: $header-web;
}

.header__contacts {
  font-size: 14px;
  font-weight: 500;
  display: none;
}

.header__contacts .header__contact-link:hover {
  color: $header-web;
}

.header__contact-link:hover .header__contact-icon {
  fill: $header-web;
}

.header__gmail {
  margin-right: 50px;
  color: $li-p;
}

.header__contact-icon {
  fill: #757575;
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .header__navigation {
    display: block;
  }

  .header__contacts {
    display: flex;
  }
}