.post {
    padding-top: 118px;
    padding-bottom: 118px;
    background-color: $main;
    background-image: url(./../../img/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
   .post {
    background-image: url(./../../img/bg@2x.png);
   } 
}

.post__title {
    font-family: "Roboto", sans-serif;
    font-weight: 900px;
    font-size: 26px;
    text-align: center;
    line-height: 136%;
    text-transform: uppercase;
    color: $main-title;
    margin-bottom: 30px;
}

.post__btn {
    font-size: 16px;
    font-weight: 700;
    color: $main-title;
    background-color: #2196f3;
    font-family: "Roboto", sans-serif;
    border-radius: 4px;
    border: none;
    padding: 10px 24px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

@media screen and (min-width: 1200px) {
    .post {
        padding-top: 200px;
        padding-bottom: 200px;
    }

    .post__title {
        font-size: 44px;
    }

    .post__btn {
        padding: 10px 32px;
    }
}

// .main__post-title {
//     font-family: "Roboto", sans-serif;
//     font-weight: 900px;
//     font-size: 44px;
//     text-align: center;
//     line-height: 136%;
//     text-transform: uppercase;
//     color: var(--main-title);
//     margin-bottom: 30px;
// }

// .main__post {
//     background-color: var(--main);
//     padding-top: 200px;
//     padding-bottom: 200px;
//     background-image: url(./img/bg.png);
//     background-repeat: no-repeat;
//     background-position: center;
//     background-size: cover;
// }

// .main__post-btn {
//     font-size: 16px;
//     font-weight: 700;
//     color: var(--main-title);
//     background-color: #2196f3;
//     font-family: "Roboto", sans-serif;
//     border-radius: 4px;
//     width: 216px;
//     height: 50px;
//     flex-shrink: 0;
//     border: none;
//     padding: 10px 32px;
//     box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
//     cursor: pointer;
// }
