    $header-web: #2196f3;
    $nav-studio: #000000;
    $nav: #212121;
    $nav-number: #757575;
    $main: #2f303a;
    $main-title: #ffffff;
    $li-h2: #212121;
    $li-p: #757575;
    $footer-background: #2f303a;
    $footer-icon: #FFFFFF;
    $button: #f5f4fa;
    $border-color: #eee;
    $transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);